<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.natalprinterConnectionString"
            connectionString="Data Source=144.217.49.13,1433;Initial Catalog=natalprinter;User ID=sa;Password=buga@tec_buga1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>