body
{
	margin: 0; padding: 0;
	
	SCROLLBAR-ARROW-COLOR: #AAAAAA; 
	SCROLLBAR-FACE-COLOR:#EEEEEE; 
	SCROLLBAR-SHADOW-COLOR: #C1C1C1; 
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
	SCROLLBAR-3DLIGHT-COLOR: #C1C1C1; 
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF; 
	SCROLLBAR-TRACK-COLOR: #f2f2f2;
}
h1
{
	display: block;
		
	height: 88px;
	width: 100%;
}