body{margin: 0; padding:0;}
ul#menu
{
	margin: 0; padding: 0;
	list-style: none;
	width: 100%;
}

ul#menu ul
{
	width: 150px;
	margin: 0 0 0 4px; padding: 0;
	list-style: none;
	background-color: #FEFEFE;
	border: solid 1px #CCC;
	border-top: none;
	width: 150px;
}

ul#menu ul a
{
	width: 100%;
}
a#seta
{
	font-size: 11px;
	width: 7px;
}

#celula_seta	{

	BORDER-RIGHT: #ccc 1px solid; 
	BORDER-TOP: #ccc 0px solid; 
	BORDER-LEFT: #ccc 1px solid; 
	BORDER-BOTTOM: #ccc 0px solid; 
	BACKGROUND-COLOR: #eee;
}